
    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1><a href="/"><img src="/img/logo.png"></a></h1>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="shopping-item">
<<<<<<< HEAD
                        
                        <a href="cart">Cart - <span class="cart-amunt">$<%=cart.totalPrice %></span> <i class="fa fa-shopping-cart"></i> <span class="product-count"><%=cart.totalQuanty %></span></a>
                       
=======
                        <a href="cart">Cart - <span class="cart-amunt">$800></span> <i class="fa fa-shopping-cart"></i> <span class="product-count">5</span></a>                   
>>>>>>> b2f2f1843f6a4aafc8accbd509346ba1ccfde18f
                    </div>
                </div>
            </div>
        </div>
    </div> 