<div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align:center;margin-top:20px;">
                    <div class="copyright">
                    <p>Địa chỉ: Tầng 6, toà C, 22 Thành Công, Ba Đình, Hà Nội . Tổng đài hỗ trợ: 024 7770 5666 - Email: cskh@hotro.mindx.vn</p>
                    <p>PVC - TTK - NNTD - ĐMT - NĐD</p>
                    <p>© 2021 - Bản quyền thuộc về Nhóm 5 Mindx</p>    
                    </div>
                </div>
            </div>
        </div>
    </div>