<div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-menu">
                        <ul>
                            <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
                            <li><a href="login"><i class="fa fa-sign-in"></i> Login</a></li>
                            <li><a href="register"><i class="fa fa-users"></i> Register</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> 